* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #edeced;
  color: rgb(23, 23, 78);
}

.main_container {
  width: 700px;
  margin: 50px auto;
}


.welcome_block {
  display: flex;
}

.welcome_block_title {
  margin-right: 10px;
}

.welcome_block_input {
  border: none;
  outline: none;
  background-color: #edeced;
  font-size: 30px;
  font-weight: 700;
  color: rgb(23, 23, 78);
}

/* to_do_block */

.to_do_block {
  margin-top: 60px;
}

.to_do_block_text {
  color: #797879;
}

.to_do_block_input {
  margin-top: 20px;
  font-size: 22px;
  padding: 15px;
  width: 500px;
  border: none;
  border-radius: 7px;
  outline: none;
}

/* category */

.category {
  margin-top: 30px;
}

.category_title {
  color: #797879;
  font-weight: 700;
  font-size: 22px;
}

.category_inputs {
  display: flex;
}

.category_input_business, .category_input_personal {
  cursor: pointer;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 76px;
  background-color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 22px;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.round {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #3276EB;
  box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
}

.round.personal {
  border-color: #ea40a4;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

.round::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px ;
  height: 0px;
  background-color: #3276EB;
  box-shadow: 0px 0px 4px rgba(58, 130, 238, 0.75);
  border-radius: 50%;
  transition: .2s ease-in-out;
}

.round.personal::after {
  background-color: #ea40a4;
  box-shadow: 0px 0px 4px rgba(234, 64, 164, 0.75);
}

input:checked ~ .round::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

.category_input_business {
  margin-right: 20px;
}

.category_btn {
  font-size: 22px;
  background-color: #3276EB;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  color: #fff;
  margin-top: 20px;
  padding: 30px 207px;
}

/* todo-list */

.todo-list{
  width: 500px;
  margin-top: 15px;
}

.todo-list .list {
	margin-top: 15px;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 15px;
	border-radius: 7px;
	box-shadow: red;
	margin-bottom: 15px;
}

.todo-item label {
	display: block;
	margin-right: 15px;
	cursor: pointer;
}

.todo-item .todo-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input {
  width: 200px;
  outline: none;
  border:none;
  padding: 3px;
	color: #797879;
	font-size: 18px;
}

.todo-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button {
  border: none;
	display: block;
	padding: 7px;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions .edit {
	margin-right: 7px;
	background-color: #3276EB;
}

.todo-item .actions .delete {
	background-color: #ea40a4;
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: #797879;
}
