* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #edeced;
  color: rgb(23, 23, 78);
}

.main_container {
  width: 700px;
  margin: 50px auto;
}


.welcome_block {
  display: flex;
}

.welcome_block_title {
  margin-right: 10px;
}

.welcome_block_input {
  border: none;
  outline: none;
  background-color: #edeced;
  font-size: 30px;
  font-weight: 700;
  color: rgb(23, 23, 78);
}

/* to_do_block */

.to_do_block {
  margin-top: 60px;
}

.to_do_block_text {
  color: #797879;
}

.to_do_block_input {
  margin-top: 20px;
  font-size: 22px;
  padding: 15px;
  width: 500px;
  border: none;
  border-radius: 7px;
  outline: none;
}

/* category */

.category {
  margin-top: 30px;
}

.category_title {
  color: #797879;
  font-weight: 700;
  font-size: 22px;
}

.category_inputs {
  display: flex;

}

.category_input_business, .category_input_personal {
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  padding: 20px 76px;
  background-color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 22px;
}

.business_input, .personal_input {
  width: 20px;
  height: 20px;
}

/* .business_input {
  background: red;
} */

.category_input_business {
  margin-right: 20px;
}

.category_btn {
  font-size: 22px;
  background-color: #3276EB;
  border: none;
  cursor: pointer;
  border-radius: 7px;
  color: #fff;
  margin-top: 20px;
  padding: 30px 207px;
}

/* todo_list_container */

.todo_list_container {
  width: 500px;
  margin-top: 15px;
  padding: 15px;
  background-color: #fff;
  border-radius: 7px;
}

.todo_list_wrapper:first-child {
  margin-top: 0px;
}

.todo_list_check {
  width: 20px;
  cursor: pointer;
}

.todo_list_wrapper {
  display: flex;
  border-bottom: 1px solid #ecedec;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.todo_list_value {
  display: flex;
}

.todo_list_check {
  margin-right: 15px;
}

.input_value {
  font-size: 20px;
  text-transform: capitalize;
}

.todo_list_btns {
  display: flex;
  gap: 10px;
}

.todo_list_edit, .todo_list_delete {
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
}

.todo_list_edit {
  background-color: rgb(66, 140, 210);
}

.todo_list_delete {
  background-color: rgb(202, 54, 54);
}
